<div class="container">
  <ul>
    <% @article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    <%# エラーメッセージを全て取得し、それをリスト表示する %>
  </ul>
  <%= form_with(model: @article, url: articles_path, method: 'post', local: true) do |f| %>
    <%# オプション三つ、モデルとURLとメソッドを定義する　ガワを指定してそこにフォームの内容を入れて、指定したURLにPOSTリクエストを送る %>
    <div>
      <%= f.label :title, 'タイトル' %>
    </div>
    <div>
      <%= f.text_field :title, class: 'text' %>
    </div>
    <div>
      <%= f.label :content, '内容' %>
    </div>
    <div>
      <%= f.text_area :content %>
    </div>
    <%= f.submit '保存', class: 'btn-primary' %>
  <% end %>
</div>