-# .tabs
-#   .tabs_item{class: "#{'active' if current_page?(root_path)}"}
-#     = link_to '新着記事一覧', root_path
-#   .tabs_item{class: "#{'active' if current_page?(timeline_path)}"}
-#     = link_to 'タイムライン', timeline_path

-# if文を使って、現在のページを認識して、activeというクラスを付与するかしないかを判定している
-# ただ、この処理をビューでやるのは好ましくないので、処理部分はapp/helperにうつす。

.tabs
  .tabs_item{class: "#{add_active_class(root_path)}"}
    = link_to '新着記事一覧', root_path
  .tabs_item{class: "#{add_active_class(timeline_path)}"}
    = link_to 'タイムライン', timeline_path